#page-wrapper
  - if notice 
    .alert.alert-success.alert-dismissible{:role => "alert"}
      %span.fa-stack.fa-lg
        %i.fa.fa-circle.fa-stack-2x
        %i.fa.fa-check.fa-stack-1x.fa-inverse
      %button.close{"data-dismiss" => "alert", :type => "button"}
        %span{"aria-hidden" => "true"} &times;
        %span.sr-only Close
      = notice
  .row
    .page-header
      %h1
        Card Management
        %small Manage cards
        %a{:href => "#{new_card_path}"}
          %button.btn{:type => "submit"} 
            %i.fa.fa-plus-square
            New Menu Card
    .page-container

    %h1 Listing settlements
    
    %table
      %tr
        %th Bill
        %th Bill Amount
        %th Tips
        %th User
        %th Status
        %th
        %th
        %th
    
      - @settlements.each do |settlement|
        %tr
          %td= settlement.bill_id
          %td= settlement.bill_amount
          %td= settlement.tips
          %td= settlement.user_id
          %td= settlement.status
          %td= link_to 'Show', settlement
          %td= link_to 'Edit', edit_settlement_path(settlement)
          %td= link_to 'Destroy', settlement, :method => :delete, :data => { :confirm => 'Are you sure?' }
    
    %br
    
    = link_to 'New Settlement', new_settlement_path
