- manual_load_javascript "categories"
:javascript
  $(function(){
      $(".view").tooltip({
          placement: "top",
          title: "View this menu category"
      });
  });
#cat_show
%p
  %span{:class=> "plus", :id=> "", "data-toggle" => "tooltip", "data-target" => "#creat_menu_cat_modal", "data-toggle" => "modal"}
    %i.icon-plus
    %span.btn.btn-mini.btn-warning
      Create Root Category
- @categories.each do |category|
  %ul
    - if category.parent.blank?
      %li.menu_categories_action_list{:id => "#{category.id}"}
        = link_to "#{category.name}" + "#{category.sort_order.present? ? " (Sort Order: #{category.sort_order})" : nil}" , menu_category_path(category), :class => 'btn btn-primary btn-mini active view', "data-toggle" => "tooltip"
        %span.menu_categories_action_box{:id => "menu_categories_action_box#{category.id}"}
          %a.btn.btn-sm.btn-success{:href => "", :class=> "plus", :id=> "#{category.id}~#{category.name}", :title => "Create menu category under this menu category", "data-target" => "#creat_menu_cat_modal", "data-toggle" => "modal"}
            %i.fa.fa-plus
          %a.btn.btn-sm.btn-info{:href => "#{edit_menu_category_path(category)}", :class=> "edit", :title => "Edit this menu category"} 
            %i.fa.fa-edit
          %a.btn.btn-sm.btn-danger{:href => "#{menu_category_path(category)}", :class => "delete", :method => :delete, :title => "Delete this menu category along with its sub menu categories", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }}
            %i.fa.fa-trash-o
       
      = form_for @menu_category, :html => { :class => 'form-inline'} do |f| 
        %div{:id=> "dyn_form#{category.id}" } 
      = render partial: '/menu_categories/subcategory_li', locals: {submenucategories: category.submenucategories.order("sort_order asc")} if category.submenucategories.present?
        

#creat_menu_cat_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title Create Menu Category
      .modal-body
        = form_for @menu_category, :html => { :class => 'form-horizontal' } do |f|
          - if @menu_category.errors.any?
            #error_explanation
              %h2= "#{pluralize(@menu_category.errors.count, "error")} prohibited this menu category from being saved:"
              %ul
                - @menu_category.errors.full_messages.each do |msg|
                  %li= msg
        
          .form-group
            = f.label :name, :class => 'col-sm-2 control-label'
            .col-sm-5
              = f.text_field :name, :class => 'form-control'
              
            .col-sm-5
              //= f.number_field :parent, :class => 'form-control'
              = f.text_field :parent, :class => 'text_field parent_val', :type => "hidden"
              = f.text_field :menu_card_id, :class => 'text_field menu_card_id', :type => "hidden", :value => "#{@menu_card_id}"  
          .form-group
            = f.label :sort_order, :class => 'col-sm-2 control-label'
            .col-sm-5
              = f.text_field :sort_order, :class => 'form-control'
          .form-group
            = f.label :is_parent_visible, :class => 'col-sm-2 control-label'
            .col-sm-5
              = f.select :is_parent_visible, options_for_select({"No" => false, "Yes" => true}, @menu_category.is_parent_visible), {include_blank: "--Select--"},{ :class=>"form-control", :required=> true,:style=>"width:150px;" }
          .form-group
            = f.label :image, :class => 'col-sm-2 control-label'
            .col-sm-5
              = f.file_field :image, :class => 'form-control'                
          .form-group
            = f.label :description, :class => 'col-sm-2 control-label'
            .col-sm-5
              = f.text_field :description, :class => 'form-control'
          .form-group
            .col-sm-5
              = f.submit 'Create Category', :class => 'btn btn-success'
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
