#page-wrapper   
  - if notice 
    .alert.alert-success.alert-dismissible{:role => "alert"}
      %span.fa-stack.fa-lg
        %i.fa.fa-circle.fa-stack-2x
        %i.fa.fa-check.fa-stack-1x.fa-inverse
      %button.close{"data-dismiss" => "alert", :type => "button"}
        %span{"aria-hidden" => "true"} &times;
        %span.sr-only Close
      = notice
  .row
    .page-header
      %h2.margin-b-t-none
        %span.fa-stack
          %i.fa.fa-circle.fa-stack-2x{:style=>"color:#F39C12"}
          %i.fa.fa-sitemap.fa-stack-1x.fa-inverse
        Order Management
        %small Listing statuses
        - if can? :new, Product  
          %a.btn.btn-primary.btn-sm.float-r.margin-t-15{:href => "#{new_order_status_path}"}
            %i.fa.fa-plus-square
            Add new status

    .page-container 
      %table.table.table-bordered
        %tr.well
          %th Id
          %th Name
          %th Color
          %th Action
          
        - @order_statuses.each do |status|
          %tr
            %td= status.id
            %td= status.name
            %td.col-sm-1
              .input-group
                .input-group-addon{:style => "background-color : #{status.color_code}"}
                .form-control
                  = status.color_code
            %td              
              - if can? :show, Unit  
                %a.btn.btn-sm.btn-success{:href => "#{order_status_path(status)}", :title => "View order"}
                  %i.fa.fa-search-plus.fa-lg
              - if can? :edit, Unit
                %a.btn.btn-sm.btn-info{:href => "#{edit_order_status_path(status)}", :title => "Edit order"} 
                  %i.fa.fa-edit.fa-lg
              - if can? :destroy, Unit
                %a.btn.btn-sm.btn-danger{:href => "#{order_status_path(status)}",:method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :title => "Delete order"}
                  %i.fa.fa-trash-o.fa-lg
      