= form_for @customer_queue_state do |f|
  - if @customer_queue_state.errors.any?
    #error_explanation
      %h2= "#{pluralize(@customer_queue_state.errors.count, "error")} prohibited this customer_queue_state from being saved:"
      %ul
        - @customer_queue_state.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :color_code
    = f.text_field :color_code, :type => "color"
  .actions
    = f.submit 'Save'
