%h1 Listing product_attribute_options

%table
  %tr
    %th Product attribute key
    %th Value
    %th Label
    %th Position
    %th Deleted at
    %th
    %th
    %th

  - @product_attribute_options.each do |product_attribute_option|
    %tr
      %td= product_attribute_option.product_attribute_key_id
      %td= product_attribute_option.value
      %td= product_attribute_option.label
      %td= product_attribute_option.position
      %td= product_attribute_option.deleted_at
      %td= link_to 'Show', product_attribute_option
      %td= link_to 'Edit', edit_product_attribute_option_path(product_attribute_option)
      %td= link_to 'Destroy', product_attribute_option, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Product attribute option', new_product_attribute_option_path
