:javascript
  $(function() {
    $('.datepick').datetimepicker({
      format: 'YYYY-MM-DD',
      useCurrent: true,
      maxDate: new Date() 
    }); 
    $('.datetimepick').datetimepicker({
      format: 'DD-MM-YYYY hh:mm:ss A',
      useCurrent: true,
      maxDate: new Date() 
    });
              
  });



%ul#task-card.collection.with-header
  %li.collection-header.cyan
    %h4.white-text.task-card-title Available Reports
  %li.collection-item.dismissable{:style => "-webkit-user-drag: none;"}
    %label{:for => "task5", :style => "text-decoration: none;"}
      %i.fa.fa-chevron-right.margin-r-20
      Product Return Report 
    .task-cat.grey-text
      / %span Please provide the following details to view this report
      = form_tag(by_date_return_item_reports_path, method: "get", :class=>"m-input") do
        .form-group.col-lg-3
          = text_field_tag :from_date, '', class: "validate datepick",:id=>"", placeholder: "From Date", autocomplete: :off, :style => "padding: 6px 10px;", :required => true, :value=>"#{Date.today.to_s}"
        .form-group.col-lg-3
          = text_field_tag :to_date, '', class: "validate datepick",:id=>"", placeholder: "To Date", autocomplete: :off, :style => "padding: 6px 10px;", :required => true, :value=>"#{Date.today.to_s}"
        - if current_user.role.name == "owner"   
          .form-group.col-lg-3  
            = select_tag "unit_id", options_from_collection_for_select(@units, "id", "unit_name"),class: "form-control", prompt:"Select Branch"
        %button.m-btn.teal.secondary-content.waves-effect.waves-light{:type=>"submit"}
          View report          
      .clearfix

  %li.collection-item.dismissable{:style => "-webkit-user-drag: none;"}
    %label{:for => "task5", :style => "text-decoration: none;"}
      %i.fa.fa-chevron-right.margin-r-20
      Refund Report 
    .task-cat.grey-text
      / %span Please provide the following details to view this report
      = form_tag(refund_report_return_item_reports_path, method: "get", :class=>"m-input") do
        .form-group.col-lg-3
          = text_field_tag :from_date, '', class: "validate datepick",:id=>"", placeholder: "From Date", autocomplete: :off, :style => "padding: 6px 10px;", :required => true, :value=>"#{Date.today.to_s}"
        .form-group.col-lg-3
          = text_field_tag :to_date, '', class: "validate datepick",:id=>"", placeholder: "To Date", autocomplete: :off, :style => "padding: 6px 10px;", :required => true, :value=>"#{Date.today.to_s}"
        %button.m-btn.teal.secondary-content.waves-effect.waves-light{:type=>"submit"}
          View report          
      .clearfix  