- links_arr = [{:title=>"Loyalty Reports",:url=>loyalty_reports_path,:active_class=>""},{:title=>"Loyalty Card Details Report",:url=>"#",:active_class=>"col-breadcrumb-selected"}] 
- render_page_breadcrumbs(links_arr)  #ApplicationHelper
= render "layouts/flash"

.main-section__content
  .example
    .example__content.p0.min-height-405
      .data-table-container
        %header.data-table-header
          .data-table-header__label
            %span.fs-title="Loyalty Card Details Report Between #{params[:from_date]} to #{params[:to_date]}" 
          .data-table-header__actions
            %a.export-by-date-sales-report.m-btn.indigo.margin-l-5{:href=>"/loyalty_reports/loyalty_point_use.csv?from_date=#{params[:from_date]}&to_date=#{params[:to_date]}"}
              %i.mdi-file-file-download.left
              CSV
        = smart_listing_render :loyalty_card_use        
