- unless smart_listing.empty?
  %table.data-table
    %thead
      %th= smart_listing.sortable "Stock ID", "id"
      %th Product
      %th= smart_listing.sortable "Stock received", "stock_credit"
      %th Cost (#{currency})
      %th Received from
      - if Store.find(@store_id).store_type == "waste_bin"
        %th Transfer Reason
        %th Transfer Code
      %th= smart_listing.sortable "Date", "created_at"

    %tbody
      - smart_listing.collection.each do |object|
        %tr      
          %td=object.id  
          %td=object.product.name
          %td="#{object.stock_credit} #{object.product.basic_unit}"
          %td=number_to_currency(object.price, unit: '')
          %td
            =object.stock_transaction.from_store.name
            %small= store_type_tag(object.stock_transaction.from_store.store_type)            
            %br
            %small="(Branch: #{object.stock_transaction.from_store.unit.unit_name})"
          - if Store.find(@store_id).store_type == "waste_bin"
            - transfer_reason = object.stock_transaction.stock_transfer_meta.by_product(object.product_id).first.reason_code
            %td= transfer_reason.reason
            %td= transfer_reason.code
          %td=object.created_at.strftime("%d %b %Y, %I:%M %p") 
      
  = smart_listing.paginate
  = smart_listing.pagination_per_page_links
- else
  %p.warning No records!
