:javascript
  $(function() {
    $('#from_date').datetimepicker({
      format: 'YYYY-MM-DD',
      useCurrent: false,
    });
    $('#to_date').datetimepicker({
      format: 'YYYY-MM-DD',
      useCurrent: false,
    });
  });
- links_arr = [{:title=>"Inventory Report",:url=>inventory_reports_path,:active_class=>""},{:title=>"Raw product consumption report",:url=>"#",:active_class=>"col-breadcrumb-selected"}] 
- render_page_breadcrumbs(links_arr)  #ApplicationHelper  
= render "layouts/flash"

.main-section__content
  .example
    .example__content.p0.min-height-405
      .data-table-container#accordion{"aria-multiselectable" => "true", :role => "tablist"}
        %header.data-table-header
          .data-table-header__actions
            %a.export-purchase-report.m-btn.indigo.margin-l-5{:href=>"/inventory_reports/raw_product_consumption.csv?from_date=#{params[:from_date]}&to_date=#{params[:to_date]}&store_id=#{@store.id}", "data-store-id"=>"#{@store.id}"}
              %i.mdi-file-file-download.left
              CSV
                                       
        = smart_listing_render :product_consumptions