:javascript
  $(function() {   
    $('.datepick').datetimepicker({
      format: 'YYYY-MM-DD',
      useCurrent: true,
    });     
  });
- links_arr = [{:title=>"Inventory Report",:url=>inventory_reports_path,:active_class=>""},{:title=>"Stock audit report",:url=>"#",:active_class=>"col-breadcrumb-selected"}] 
- render_page_breadcrumbs(links_arr)  #ApplicationHelper  
= render "layouts/flash"
.main-section__content
  .example
    .example__content.p0.min-height-405
      .data-table-container#accordion{"aria-multiselectable" => "true", :role => "tablist"}
        %header.data-table-header
          .data-table-header__label
            %span.fs-title Filter
          .data-table-header__actions
            %a.export-issue-report.m-btn.indigo.margin-l-5{:href=>"/inventory_reports/stock_audit.csv?from_date=#{params[:from_date]}&to_date=#{params[:to_date]}&store_id=#{params[:store_id]}"}
              %i.mdi-file-file-download.left
              CSV
                                                  
        = smart_listing_render :reports
