:javascript
  $(function() {   
    $('.datepick').datetimepicker({
      format: 'YYYY-MM-DD',
      useCurrent: true,
    });     
  });
- links_arr = [{:title=>"Inventory Report",:url=>inventory_reports_path,:active_class=>""},{:title=>"Stock indent report",:url=>"#",:active_class=>"col-breadcrumb-selected"}] 
- render_page_breadcrumbs(links_arr)  #ApplicationHelper  
= render "layouts/flash"
.main-section__content
  .example
    .example__content.p0.min-height-405
      .data-table-container#accordion{"aria-multiselectable" => "true", :role => "tablist"}
        %header.data-table-header
          .data-table-header__label
            %span.fs-title Filter
          .data-table-header__actions
            %a.export-indent-report.m-btn.pink.margin-l-5{:href=>"/inventory_reports/store_indent.pdf?from_date=#{params[:from_date]}&to_date=#{params[:to_date]}&store_id=#{params[:store_id]}"}
              %i.mdi-file-file-download.left
              PDF
            %a.export-indent-report.m-btn.indigo.margin-l-5{:href=>"/inventory_reports/store_indent.csv?from_date=#{params[:from_date]}&to_date=#{params[:to_date]}&store_id=#{params[:store_id]}"}
              %i.mdi-file-file-download.left
              CSV
            = smart_listing_controls_for(:reports, {class: "form-inline float-l margin-l-30"}) do       
              .form-group.from_date.input-append
                = select_tag "store_id", options_from_collection_for_select(@stores, "id", "name", params[:store_id]), :class => "form-control indent-report-input indent-store-id", :required => true, prompt: "Select store"                            
                = text_field_tag :from_date, '', class: "indent-report-input form-control datepick indent-from-date", placeholder: "From Date", autocomplete: :off, :style => "padding: 6px 10px;", :value=>params[:from_date]   
                = text_field_tag :to_date, '', class: "indent-report-input form-control datepick indent-to-date", placeholder: "To Date", autocomplete: :off, :style => "padding: 6px 10px;", :value=>params[:to_date]                                        
        = smart_listing_render :reports