.col-lg-12.p0
  = render 'purchase_order_steps/wizard', current_step: "step_1", completed_steps: []
.col-lg-12
  .card.padding-20
    %br
    - if @current_user.unit.unittype.unit_type_name.humanize == "Outlet"
      - _unit = @current_user.unit
      .card.padding-10.margin-l-5.col-lg-3{:style=>"width:220px;display:inline-block;height:100px;overflow-y:auto;"}
        = check_box_tag "selected_outlets[]", "#{_unit.id}", false, :class=>"filled-in outlet_checkbox", "data-unit-id"=>_unit.id, :id => "#{_unit.id}"
        %label.font-sz-11{:for=>"#{_unit.id}"}= _unit.unit_name
        - if _unit.stores.physical.size == 1
          = select_tag "unit_store_#{_unit.id}", options_for_select(_unit.stores.physical.map{ |u_s| ["#{u_s.name}", "#{u_s.id}"] }), {:class=>"form-control unit_stores", "data-unit-id"=>_unit.id, :style=>"position:absolute;bottom:0;left:0;"}
        - else
          = select_tag "unit_store_#{_unit.id}", options_for_select(_unit.stores.physical.map{ |u_s| ["#{u_s.name}", "#{u_s.id}"] }), {:prompt=>"Select a store", :class=>"form-control unit_stores", "data-unit-id"=>_unit.id, :style=>"position:absolute;bottom:0;left:0;"}
        .clearfix

    - elsif @current_user.unit.unittype.unit_type_name.humanize == "Distribution center"
      = smart_listing_render :child_outlets

.col-lg-12
  .col-lg-2.col-sm-2.5.padding-l-r-none
    .card
      .padding-10 
        %b FILTER BY
      = smart_listing_controls_for(:on_behalf_smart_po_products, {class: "text-left"}) do
        .filter-title.margin-t-b-0 
          %i.mdi-action-search.left
          Search
        .padding-10 
          .form-group.filter.input-append
            %input.form-control.search{:placeholder => "Search products...", :type => "text", :name=> "product_id_filter"}
        .padding-10.margin-t-10
          .form-group.filter.input-append
            %input.form-control.search{:placeholder => "Search products...", :type => "text", :name=> "filter"}
          %br 
            %input.form-control.search{:value => params[:vendor], :type => "hidden", :name=> "vendor"}
            %input.form-control.search{:value => params[:business_type], :type => "hidden", :name=> "business_type"}              
        .filter-title.margin-t-b-0 
          %i.mdi-action-list.left
          Categories          
        .padding-10.height-350{:style => "overflow-y: auto;"} 
          = render 'products/listing_category'

  .col-lg-7.col-sm-7.padding-r-none
    .main-section__content
      .example
        .example__content.p0
          .data-table-container#accordion{"aria-multiselectable" => "true", :role => "tablist"}
            %header.data-table-header
              .data-table-header__label
                %span.fs-title Products
            = smart_listing_render :on_behalf_smart_po_products
  .col-lg-3.col-sm-3.padding-r-none  
    .main-section__content
      .example
        .example__content.p0
          .data-table-container#accordion{"aria-multiselectable" => "true", :role => "tablist"}
            %header.data-table-header
              .data-table-header__label
                %span.fs-title Purchase Order Details
            = form_for @purchase_order, :html => { :class => ''} do |po|
              = po.hidden_field :unit_id, :class => 'form-control', :value => @current_user.unit_id
              = po.hidden_field :store_id, :class => 'form-control', :value => @store.id
              = po.hidden_field :vendor_id, :class => 'form-control', :value => @vendor.id
              = po.hidden_field :business_type, :class => 'form-control', :value => params[:business_type]

              = hidden_field_tag :destination_units 
              - if @current_user.unit.unittype.unit_type_name.humanize == "Distribution center"
                - _units = @current_user.unit.children
                - _units.each do |unit|
                  - if unit.stores.physical.size == 1
                    = hidden_field_tag "store_unit_#{unit.id}", unit.stores.physical.first.id
                  - else
                    = hidden_field_tag "store_unit_#{unit.id}"
              = hidden_field_tag "store_unit_#{@current_user.unit_id}"

              .padding-10
                = po.submit 'Next', :class => 'm-btn green width-100' 
              .filter-title.margin-t-b-0
                %i.mdi-action-label.left
                Enter Details Below
              .data-table-header__label
                %span.fs-title.padding-20
                  Vendor : #{@vendor.name.upcase}
              .padding-10
                .form-group
                  = po.text_field :name, :class => 'form-control', :placeholder => "Enter purchase order title", :required => true
                .form-group
                  #valid_from_req.input-group.date
                    = po.text_field :valid_from, :class => "form-control", "format" => "dd-mm-yyyy hh:mm:ss", :placeholder => "valid From", :value=>"#{Time.now}"
                    %span.input-group-addon
                      %span.glyphicon.glyphicon-calendar      
                .form-group
                  #valid_till_req.input-group.date
                    = po.text_field :valid_till, :class => "form-control", "data-format" => "dd-MM-yyyy hh:mm:ss", :placeholder => "Valid till", :value=>"#{Time.now+7.days}"
                    %span.input-group-addon
                      %span.glyphicon.glyphicon-calendar 
              .filter-title.margin-t-b-0 
                %i.mdi-action-label.left
                Selected Products
              .padding-10{:style=>"max-height:300px; overflow-y:auto"}
                %ul.collection.po-product-list
                  %li.collection-item.no-item-selected
                    %div
                      No products selected
.clearfix