!!!
%html
	%head
		%meta{:charset => "UTF-8"}
	%body
		%div{:style => "margin-top:40px; margin-left:40px;"}
			%div{:style => "min-height: 100px; width:63%;"}
				%div{:style => "float: left; width: 200px;  margin: 2px 10px; display: inline; "}
					%p
					To,
					%br/
					%span{:style => "font-weight: 600;"} #{@smart_po.purchase_orders.first.vendor.name}
					%br/
					%span #{@smart_po.purchase_orders.first.vendor.address}
					%br/
					%span #{@smart_po.purchase_orders.first.vendor.phone}
				%div{:style => "float: right; width: 200px;  margin: 2px 10px; display: inline; "}
					%p
					From,
					%br/
					%span{:style => "font-weight: 600;"} #{@current_user.unit.unit_name}
					%br/
					%span #{@current_user.unit.address}
					%br/
					%span #{@current_user.unit.phone}

			
			%div{:style => "margin-top:8%;"}
				%span{:style=>"font-size:15px; font-weight:500;"} Summary:
				%table.responstable1{:style => "margin: 1em 0;width: 64%;overflow: hidden;background: #FFF;color: #024457;border-radius: 10px;border: 1px solid #167F92;"}
					%tr{:style => "border: 1px solid #D9E4E6;"}
						%th{:style => "border: 1px solid #FFF;background-color: #167F92;color: #FFF;padding: 1em;"} 
							Sl
						%th{:style => "border: 1px solid #FFF;background-color: #167F92;color: #FFF;padding: 1em;"} 
							Product Name
						%th{:style => "border: 1px solid #FFF;background-color: #167F92;color: #FFF;padding: 1em;"} 
							Contract Price 
							%br/
							="(in #{@currency})"
						%th{:style => "border: 1px solid #FFF;background-color: #167F92;color: #FFF;padding: 1em;"}
							Quantity
						%th{:style => "border: 1px solid #FFF;background-color: #167F92;color: #FFF;padding: 1em;"}
							Total Price
							%br/
							="(in #{@currency})"

			 
					- _po_summary_details = Array.new
					- @po_summary = {}
					- @pod_price = {}
					- @smart_po.purchase_orders.each do |po|
						
						- po.purchase_order_metum.each_with_index do |pod,i|
							- if pod.product.vendor_products.by_vendor(po.vendor.id).first.present?
								- price = pod.product.vendor_products.by_vendor(po.vendor.id).first.price
							- product_id = pod.product.id
							- @pod_price[product_id] = price
							- if @po_summary.has_key?(product_id)
								- @po_summary[product_id] = @po_summary[product_id] + pod.product_amount
							- else
								- @po_summary[product_id] = pod.product_amount
					- j = 0
					- @po_summary.each do |po_product|
						- j += 1
						- product_id = po_product[0]
						- product_quantity = po_product[1]
						%tr{:style => "border: 1px solid #D9E4E6;"}
							%td{:style => "border: 1px solid #FFF;background-color: #ccc;color: #000;padding: 1em; text-align:center;"}= j
							%td{:style => "border: 1px solid #FFF;background-color: #ccc;color: #000;padding: 1em;text-align:center;"}= Product.find(product_id).name
							%td{:style => "border: 1px solid #FFF;background-color: #ccc;color: #000;padding: 1em; text-align:center"}
								= [@pod_price[product_id] , Product.find(product_id).basic_unit].join(" /")
							%td{:style => "border: 1px solid #FFF;background-color: #ccc;color: #000;padding: 1em;text-align:center;"}= [product_quantity, Product.find(product_id).basic_unit].join(" ")
							%td{:style => "border: 1px solid #FFF;background-color: #ccc;color: #000;padding: 1em;text-align:center;"}
								= @pod_price[product_id] * product_quantity






			- @smart_po.purchase_orders.each do |po|
				%div{:style => "margin-top:8%; font-size: 15px;"}
					Deliver To: 
					%br
					%span{:style=>"font-weight: 500;"} #{po.unit.unit_name}
					%br
					%span #{po.unit.address}
					%br
					%span #{po.unit.phone}
				%div{:style => " background-color: #2189b9;border: 1px solid #e3e3e3;border-radius: 2px;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset; margin-bottom: 20px; min-height: 45px; padding: 19px; width:64%;margin-top:1%;"}
					%div{:style => "float:left; font-size:20px; color:#fff; margin-top:-2%;"} Purchase Order
					%div{:style => "float:left; position: relative; margin-left:25%; color:#fff; margin-top:-1%;"} PO ID: #{po.id}
					%div{:style => "float:right; color:#fff; margin-top:-1%;"} Date: #{po.created_at.strftime("%m-%d-%y")}
				%table.responstable1{:style => "margin: 1em 0;width: 64%;overflow: hidden;background: #FFF;color: #024457;border-radius: 10px;border: 1px solid #167F92;"}
					%tr{:style => "border: 1px solid #D9E4E6;"}
						%th{:style => "border: 1px solid #FFF;background-color: #167F92;color: #FFF;padding: 1em;"} 
							Sl
						%th{:style => "border: 1px solid #FFF;background-color: #167F92;color: #FFF;padding: 1em;"} 
							Product Name
						%th{:style => "border: 1px solid #FFF;background-color: #167F92;color: #FFF;padding: 1em;"} 
							Contract Price 
							%br/
							="(in #{@currency})"
						%th{:style => "border: 1px solid #FFF;background-color: #167F92;color: #FFF;padding: 1em;"}
							Quantity
						%th{:style => "border: 1px solid #FFF;background-color: #167F92;color: #FFF;padding: 1em;"}
							Total Price
							%br/
							="(in #{@currency})"


					- sl = 0
					- po.purchase_order_metum.each_with_index do |pod,i|
						- sl = sl + 1
						- if pod.product.vendor_products.by_vendor(po.vendor.id).first.present?
							- price = pod.product.vendor_products.by_vendor(po.vendor.id).first.price
						- if price.present?
							- total_price = price * pod.product_amount
						%tr{:style => "border: 1px solid #D9E4E6;"}
							%td{:style => "border: 1px solid #FFF;background-color: #ccc;color: #000;padding: 1em; text-align:center;"}= sl
							%td{:style => "border: 1px solid #FFF;background-color: #ccc;color: #000;padding: 1em;text-align:center;"}= pod.product.name
							%td{:style => "border: 1px solid #FFF;background-color: #ccc;color: #000;padding: 1em; text-align:center"}
								- if pod.product.vendor_products.by_vendor(po.vendor.id).first.present?
									= [price , pod.product.basic_unit].join(" /")
								- else
									= "-"	
							%td{:style => "border: 1px solid #FFF;background-color: #ccc;color: #000;padding: 1em;text-align:center;"}= [pod.product_amount , pod.product.basic_unit].join(" ")
							%td{:style => "border: 1px solid #FFF;background-color: #ccc;color: #000;padding: 1em;text-align:center;"}
								- if total_price.present?
									= total_price.round(2)
								- else
									= '-'


