= form_for @delivery_boy, :html => {:class => "form-horizontal",:id => "check_box_validate"} do |f|
  - if @delivery_boy.errors.any?
    #error_explanation
      %h2= "#{pluralize(@delivery_boy.errors.count, "error")} prohibited this delivery_boy from being saved:"
      %ul
        - @delivery_boy.errors.full_messages.each do |msg|
          %li= msg

  .col-sm-6
    .form-group
      = f.label :name, :class => 'col-sm-4 control-label'
      .col-sm-6
        = f.text_field :name, :class => 'form-control'
    .form-group
      = f.label :email, :class => 'col-sm-4 control-label'
      .col-sm-6
        = f.text_field :email, :class => 'form-control'
    .form-group
      = f.label :password ,:class => 'col-sm-4 control-label'
      .col-sm-6
        = f.password_field :password , :class => 'form-control'
    .form-group
      = f.label :password_confirmation, "Confirmation" ,:class => 'col-sm-4 control-label'
      .col-sm-6
        = f.password_field :password_confirmation , :class => 'form-control'
    .form-group
      = f.label :mobile_no, :class => 'col-sm-4 control-label'
      .col-sm-6
        = f.number_field :phone_no, :class => 'form-control'
    .form-group
      = f.label :address, :class => 'col-sm-4 control-label'
      .col-sm-6
        = f.text_field :address, :class => 'form-control'
    .form-group
      =# f.submit 'Save',:class => 'btn btn-success'

  .col-sm-4
    - if @assigned_current_delivery_boy.present?
      - assigned_array = []
      - @assigned_current_delivery_boy.each do |assigned|
        - assigned_array.push("#{assigned.unit_id},#{assigned.account_id}")
    - else
      - assigned_array = ''
    %h3
      Units
      - current_account = request.subdomain
      = #current_account 
    #related_data_scroll_list 
      - @accounts.each do |account|
        - if account.subdomain == current_account
          - Apartment::Database.switch(account.subdomain)
          
          - Unit.all.each do |unit|
            - check_box_val = "#{unit.id},#{account.id}"
            .form-group
              .col-sm-12
                = check_box_tag("unit_id[]", check_box_val , assigned_array.include?(check_box_val), :id=>"unit_id_#{unit.id}")
                %label{:for=>"unit_id_#{unit.id}"}= "#{unit.unit_name}, (#{unit.locality})"
  .form-group
    .col-sm-6
      = f.submit 'Save',:class => 'btn btn-success'   
      %a.btn.btn-primary{:href => delivery_boys_path }
        Back         