- unless smart_listing.empty?
  %table.table.table-striped
    %thead
      %th.col-md-8{:colspan => 3}
        = smart_listing.sortable "Audit details", "id" 
      %th.col-md-2= smart_listing.sortable "Date", "created_at"
      %th.col-md-2 Action
    %tbody
      - smart_listing.collection.each do |object|
        - _kitchen_pro = KitchenProductionAudit.where(:audit_id => object.audit_id).first
        %tr
          %td.text-center{:style => "width: 1%;", :class=>"#{production_audit_status_class(_kitchen_pro.status)}"}
          %td.fixed-width-xss
            %i.fa.fa-cutlery.fa-2x.padding-5
          %td
            %h5
              ="##{object.audit_id}"                 
              = production_audit_status_tag(_kitchen_pro.status)
            %p.module_description
              %b Audit date:
              =_kitchen_pro.created_at
              
          %td.font-sz-12=#object.created_at.strftime("%d %b %Y, %I:%M %p")  
          %td.col-lg-2.col-xs-3.padding-top-20
            %a.btn.btn-default.btn-sm.btn-social{:href=>"kitchen_production_audits/serial/#{object.audit_id}"} 
              %i.fa.fa-list-ul
              More details
      
  -# Render nice pagination links fitted for Bootstrap 3 by default
  = smart_listing.paginate
  = smart_listing.pagination_per_page_links
- else
  .alert.alert-warning
    No production records found!
