= form_for @doc_type do |f|
  - if @doc_type.errors.any?
    #error_explanation
      %h2= "#{pluralize(@doc_type.errors.count, "error")} prohibited this doc_type from being saved:"
      %ul
        - @doc_type.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .actions
    = f.submit 'Save'
