.main-section__content
	.example
		.example__content.p0
			.data-table-container
				%header.data-table-header
					.data-table-header__label
						%span.fs-title Listing Zone
					.data-table-header__actions
						%a.m-btn.m-btn-teal{:href => "#{new_zone_path}"}
							%i.mdi-content-add.left
							New Zone
- unless smart_listing.empty?
	%table.data-table
		%thead
			%tr
				%th.col-lg-3  
					%strong Sl No
				%th.col-lg-3  
					%strong Zone Name
				%th.col-lg-3
					%strong Zone Descriptions
				%th.col-lg-3 
					%strong Zone status
		%tbody
			- sl = 1
			- smart_listing.collection.each do |zone|
				%tr
					%td.col-lg-3
						= sl
					%td.col-lg-3  
						= zone.name
					%td.col-lg-3 
						= zone.descriptions
					%td.col-lg-3
						= zone.status
					%td.col-lg-3
						%a.m-btn.orange.m-btn-low-padding{:href => "#{edit_zone_path(zone)}", :title => "Edit Zone"} 
							%i.mdi-editor-border-color
						%a.m-btn.red.m-btn-low-padding{:title => "Remove Zone",:href => "#{zone_path(zone)}",:method => :delete,:method => :delete, :data => { :confirm => 'Are you sure?' } }
							%i.mdi-action-delete
					- sl += 1
	= smart_listing.paginate
	= smart_listing.pagination_per_page_links
-else
	%p.warning No records!