- links_arr = [{:title=>"All Branch Types",:url=>units_path,:active_class=>""},{:title=>"Branch type: #{@unittype.unit_type_name}",:url=>"#",:active_class=>"col-breadcrumb-selected"}]
- render_page_breadcrumbs(links_arr)
= render "layouts/flash"
 
%table.table.table-bordered
  %tr
    %th= "Branch Type Name"
    %th= "Branch Type Priority"
    %th= "Can have stores"

    %tr
      %td= @unittype.unit_type_name
      %td= @unittype.unit_type_priority
      %td= @unittype.store_creatability

%a{:href => "#{edit_unittype_path(@unittype)}", :class => 'btn btn-primary btn-mini active'}
  %i.icon-edit
  Edit
%a{:href => "#{units_path}", :class => 'btn btn-primary btn-mini active'}
  %i.icon-backward
  Back
