- unless smart_listing.empty?
  %table.table.table-striped
    %thead
      %th= smart_listing.sortable "#", "id"
      %th= smart_listing.sortable "Stock debit", "stock_debit"
      %th= smart_listing.sortable "Date", "created_at"

    %tbody
      - smart_listing.collection.each do |object|
        %tr      
          %td=object.id  
          %td="#{object.stock_debit} #{object.product.basic_unit}"
          %td=object.created_at.strftime("%d %b %Y, %I:%M %p") 
      
  = smart_listing.paginate
  = smart_listing.pagination_per_page_links
- else
  %p.warning No records!
