= form_for @stock do |f|
  - if @stock.errors.any?
    #error_explanation
      %h2= "#{pluralize(@stock.errors.count, "error")} prohibited this stock from being saved:"
      %ul
        - @stock.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :product_id
    = f.number_field :product_id
  .field
    = f.label :store_id
    = f.number_field :store_id
  .field
    = f.label :quantity
    = f.text_field :quantity
  .field
    = f.label :price
    = f.text_field :price
  .field
    = f.label :available_stock
    = f.text_field :available_stock
  .field
    = f.label :consumption_log
    = f.text_area :consumption_log
  .field
    = f.label :stock_status
    = f.text_area :stock_status
  .field
    = f.label :stock_transaction_id
    = f.number_field :stock_transaction_id
  .actions
    = f.submit 'Save'
