#page-wrapper
  - if notice 
    .alert.alert-danger.alert-dismissible{:role => "alert"}
      %span.fa-stack.fa-lg
        %i.fa.fa-circle.fa-stack-2x
        %i.fa.fa-times.fa-stack-1x.fa-inverse
      %button.close{"data-dismiss" => "alert", :type => "button"}
        %span{"aria-hidden" => "true"} &times;
        %span.sr-only Close
      = notice
  .row
    .page-header
      %h1
        Staff Management
        %small Edit Profile
    .page-container   
      = form_for @user,:html => { :class => 'form-horizontal' }, url: update_password_user_path do |u|
        - if @user.errors.any?
          #error_explanation.alert.alert-danger2.alert-dismissible
            %button.close{"data-dismiss" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} &times;
            = "#{pluralize(@unit.errors.count, "error")} prohibited this product from being saved:"
        %fieldset
          .col-sm-4
            .form-group
              = password_field_tag :cur_pwd, nil, :placeholder=>"Existing Password",:required=>true , :class => 'form-control '
            .form-group
              = u.password_field :password, :placeholder=>"Password",:required=>true, class: "form-control"
            .form-group
              = u.password_field :password_confirmation,:placeholder=>"Re-enter Password",:required=>true, class: "form-control"
          .form-group
            .col-sm-2
              = u.submit "Change",  class: "btn btn-lg btn-success btn-block"
            .col-sm-2
              = link_to 'Cancel', owner_registrations_profile_path,  class: "btn btn-lg btn-primary btn-block"         