- unless smart_listing.empty?
  %table.table
    %thead
      %tr.data-table__selectable-row
        %th.col-lg-2= smart_listing.sortable "ID", "id"
        %th.col-lg-2= smart_listing.sortable "Pincode", "pincode"
        %th.col-lg-2= smart_listing.sortable "Address", "address"
        %th.col-lg-2= smart_listing.sortable "Latitude", "latitude" 
        %th.col-lg-2= smart_listing.sortable "Longitude", "longitude"
        %th.col-lg-2
    %tbody
      - smart_listing.collection.each do |object|
        %tr.data-table__selectable-row
          %td
            %small
              ="ID: #{object.id}"
          %td=object.pincode
          %td=object.address
          %td=object.latitude
          %td=object.longitude
          %td{:style=>"text-align:right"}
            - if can? :edit, DeliveryAddress
              %a.m-btn.blue.m-btn-low-padding{:href => "#{edit_delivery_address_path(object)}", :title => "Edit process"}
                %i.mdi-editor-border-color
            - if can? :edit, DeliveryAddress
              %a.m-btn.red.m-btn-low-padding{:href => "#{delivery_address_path(object)}",:method => :delete, :data => { :confirm => 'Are you sure about deleting this process?' }, :title => "Delete process"}
                %i.mdi-action-highlight-remove
    
  = smart_listing.paginate
  = smart_listing.pagination_per_page_links
- else
  .alert.alert-warning
    Address not found

