:javascript
  $(function() {
    $('.datepick').datetimepicker({
      format: 'YYYY-MM-DD',
      useCurrent: true,
      maxDate: new Date() 
    }); 
    $('.datetimepick').datetimepicker({
      format: 'DD-MM-YYYY hh:mm:ss A',
      useCurrent: true,
      maxDate: new Date() 
    });
              
  });

%ul#task-card.collection.with-header
  %li.collection-header.cyan
    %h4.white-text.task-card-title Available Report
  %li.collection-item.dismissable{:style => "-webkit-user-drag: none;"}
    %label{:for => "task5", :style => "text-decoration: none;"}
      %i.fa.fa-chevron-right.margin-r-20
      User Login Report
    .task-cat.grey-text
      = form_tag(by_date_user_login_logouts_path, method: "get", :class=>"m-input") do
        .form-group.col-lg-3
          = text_field_tag :from_date, '', class: "validate datepick",:id=>"", placeholder: "From Date", autocomplete: :off, :style => "padding: 6px 10px;", :required => true, :value=>"#{Date.today.to_s}"
        .form-group.col-lg-3
          = text_field_tag :to_date, '', class: "validate datepick",:id=>"", placeholder: "To Date", autocomplete: :off, :style => "padding: 6px 10px;", :required => true, :value=>"#{Date.today.to_s}"
        %button.m-btn.teal.secondary-content.waves-effect.waves-light{:type=>"submit"}
          View report          
      .clearfix			 

