= javascript_include_tag "custom_add"
#page-wrapper
  - if notice 
    .alert.alert-success.alert-dismissible{:role => "alert"}
      %span.fa-stack.fa-lg
        %i.fa.fa-circle.fa-stack-2x
        %i.fa.fa-check.fa-stack-1x.fa-inverse
      %button.close{"data-dismiss" => "alert", :type => "button"}
        %span{"aria-hidden" => "true"} &times;
        %span.sr-only Close
      = notice
  .row
    .page-header
      %h2.margin-b-t-none
        %span.fa-stack
          %i.fa.fa-circle.fa-stack-2x{:style=>"color:#1abc9c"}
          %i.fa.fa-newspaper-o.fa-stack-1x.fa-inverse      
        = @advertisement.name
    .page-container
      .col-sm-5
        .panel.panel-default
          .panel-heading
            Branches
            .pull-right
              = link_to 'Edit', edit_advertisement_path(@advertisement)
              \|
              = link_to 'Back', advertisements_path
          .panel-body{:style => "max-height: 450px !important; overflow: auto !important;"}
            - @advertisement.units.each do |unit|
              %h4
                %i.fa.fa-home
                %b= unit.unit_name
                = unit.locality
              %hr

      .col-sm-7
        - if @advertisement.advertisement_galleries.present?
          - @advertisement.advertisement_galleries.each do |advertisement_gallery|
            .img-thumbnail{:class => advertisement_gallery.id}
              %button.close.remove_ad{"aria-label" => "Close", :type => "button", :id => advertisement_gallery.id, "data-ad-id"=>@advertisement.id, :style => "padding: 0px 5px 4px 5px;background-color: #000;border-radius: 14px;margin-left: -22px;"}
                %span{"aria-hidden" => "true"} &times;
              = image_tag(advertisement_gallery.advertisement_image.url(:medium))
