.card
	%section.ptb0
	.form-group.form-horizontal.bordered-row.m-input.col-sm-12
		%a.remove_cancelation_causes{:href => "#", :title => "Delete", 'data-cancelation-cause-id'=>f.object.id}
			%i.fa.fa-times-circle
		%h5.header CSM Details
		.form-group
			= f.label 'name', :class => 'col-sm-4 control-label'
			.col-sm-8.input-field
				= f.text_field :name, :required => true, :autofocus => true, :placeholder => "Enter Name", :class => 'form-control', autocomplete: 'off'
		.form-group
			= f.label 'bank_name', :class => 'col-sm-4 control-label'
			.col-sm-8.input-field
				= f.text_field :bank_name, :required => true, :autofocus => true, :placeholder => "Enter Bank Name", :class => 'form-control', autocomplete: 'off'
		.form-group
			= f.label 'branch', :class => 'col-sm-4 control-label'
			.col-sm-8.input-field
				= f.text_field :branch, :required => true, :autofocus => true, :placeholder => "Enter Bank Name", :class => 'form-control', autocomplete: 'off'
		.form-group
			= f.label 'account_number', :class => 'col-sm-4 control-label'
			.col-sm-8.input-field
				= f.text_field :account_number, :required => true, :autofocus => true, :placeholder => "Enter account number", :class => 'form-control', autocomplete: 'off'
		.form-group
			= f.label 'ifsc', :class => 'col-sm-4 control-label'
			.col-sm-8.input-field
				= f.text_field :ifsc, :required => true, :autofocus => true, :placeholder => "Enter IFSC code", :class => 'form-control', autocomplete: 'off'
		.form-group
			= f.label 'payment_mode', :class => 'col-sm-4 control-label'
			.col-sm-8.input-field
				= f.text_field :payment_mode, :required => true, :autofocus => true, :placeholder => "Enter payment mode", :class => 'form-control', autocomplete: 'off'
		.form-group
			= f.label 'pan_no', :class => 'col-sm-4 control-label'
			.col-sm-8.input-field
				= f.text_field :pan_no, :required => true, :autofocus => true, :placeholder => "Enter PAN number", :class => 'form-control', autocomplete: 'off'
		.form-group
			.col-sm-8.input-field
				= f.hidden_field :beneficiary_type, :value=>"csm",:required => true

		