:javascript
  $(function() {
    var dateToday = new Date();
    $('.datepick').datetimepicker({
      pickTime: false,
      format: 'YYYY-MM-DD',
      useCurrent: true
    });
  });  
= form_for setup_customer(@customer), :html => {"data-remote" => "true", :class => 'form-horizontal'} do |f|
  .form-group
    .col-sm-2.control-label
      = f.label :mobile_no, "Mobile No"
    .col-sm-8
      = f.text_field :mobile_no, :required => true, :placeholder => "Mobile No", :class => "form-control allow-numeric-only", autocomplete: 'off'
  = f.fields_for :customer_profile do |cp_builder|
    .form-group
      .col-sm-2.control-label
        = cp_builder.label :customer_name, "Name"
      .col-sm-8
        = cp_builder.text_field :customer_name, :autofocus => true, :required => true, :placeholder => "Full Name", :class => "form-control", autocomplete: 'off'
        = cp_builder.hidden_field :contact_no
    .form-group
      .col-sm-2.control-label
        = cp_builder.label :address, "Address"
      .col-sm-8
        = cp_builder.text_field :address, :placeholder => "Address", :class => "form-control"
    .form-group
      .col-sm-2.control-label
        = cp_builder.label :gender, "Gender"
      .col-sm-8
        =# cp_builder.text_field :gender, :placeholder => "Gender", :class => "form-control"
        = cp_builder.select :gender, "<option selected='selected' value='M'>Male</option><option value='F'>Female</option>".html_safe, {}, { :class => "form-control" }
    .form-group
      .col-sm-2.control-label
        = cp_builder.label :dob, "Date of Birth"
      .col-sm-8
        = cp_builder.text_field :dob, :placeholder => "Date of Birth", :class => "form-control datepick"
    .form-group
      .col-sm-2
      .col-sm-8
        = submit_tag('Save', :class => 'btn btn-success register-new-customer')
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close