- child_users = user.child_users
- user_targets = user.own_targets.by_month_range(@from_month,@to_month)
%tr
	%td
		%i.fa.fa-user{:style=>"margin-left:10%;"}
		= "#{user.profile.full_name}"
	%td= user.role.name.humanize
	%td
	%td
	%td
	%td
%tr
	- if user_targets.present?
		- user_targets.each do |user_target|
			- user_target.user_target_products.each do |user_target_product|
				-user_sale = 0
				-if child_users.present?
					- _user_lists = nested_child_users(user,[])
					- user_sale = UserSale.by_user_ids(_user_lists).by_recorded_at_month_range(@from_month,@to_month).sum(:quantity)
				-else
					- user_sale = UserSale.by_user_id(user.id).by_recorded_at_month_range(@from_month,@to_month).sum(:quantity)
				%tr
					%td
					%td
					%td= user_target_product.product.name
					%td= user_target_product.target_quantity.to_f.round(0)
					%td= user_sale
					%td= user_target_product.product.basic_unit

- if child_users.present?
	= render :partial => 'tsp_reports/nested_child_targets', :collection => child_users, :as => "user"