- unless smart_listing.empty?

  %table.data-table
    %thead
      %tr
        %th TsE
        %th Resource
        %th Address
        %th Customer
        %th 
          Customer 
          %br
          State
        %th 
          Visiting
          %br
          remarks
        %th 
          Visting 
          %br
          reason
        %th Day
        %th In Time
        %th Out Time
        /%th Device 
        %th{:style => "padding-right: 0px !important;"}
          Exception
          %br
          status
        %th Recorded At
        %th Synced At
        %th Location
    
    %tbody
      - smart_listing.collection.each do |object|
        %tr
          %td{:style=>"background-color:rgb(255, 210, 26);"}
            %b
              = object.profile.full_name
            %br
            Ph:
            = object.profile.contact_no
            %br
            Unit:
            = object.unit.unit_name
          - visiting_reports = VisitingHistory.by_user(object.id).by_recorded_at(@from_datetime,@to_datetime)
          - work_statuses = UserWorkStatus.by_user(object.id).by_recorded_at(@from_datetime,@to_datetime)
          - if visiting_reports.present? || work_statuses.present?
            - if visiting_reports.present? 
              - _map_data_arr=[] 
              - visiting_reports.each do |vh|
                - _map_data_hash={}
                - _map_data_hash["lat"]=vh.latitude
                - _map_data_hash["lon"]=vh.longitude
                - _map_data_hash["resource_name"] = vh.visited_entity.present? ? vh.visited_entity.name : '-'
                - _map_data_arr.push(_map_data_hash)
            %td{:style=>"background-color:rgb(255, 210, 26);"}
              %img{:src => "/google-maps.png", :class => "map-view", :width => "40px","data-latlon"=>"#{_map_data_arr.to_json}", "data-clat"=>"#{object.profile.latitude}", "data-clon"=>"#{object.profile.longitude}", "data-cname"=>"#{object.profile.full_name}", "data-cphone"=>"#{object.profile.contact_no}"} 
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td{:style => "padding-right: 0px !important;"}
          - else
            %td{:style => "padding-left: 12px !important;",:colspan => 12} 
              No Record Found ....
          - if visiting_reports.present?
            - visiting_reports.each do |vh|
              /= debug vh
              - _map_data_individual_arr=[]
              - _map_data_individual_hash={}
              - _map_data_individual_hash["lat"]=vh.latitude
              - _map_data_individual_hash["lon"]=vh.longitude
              - _map_data_individual_hash["resource_name"] = vh.visited_entity.present? ? vh.visited_entity.name : '-'
              - _map_data_individual_hash["customer_address"] = vh.customer.present? ? "#{vh.customer.addresses.first.delivery_address}" : ''
              - _map_data_individual_arr.push(_map_data_individual_hash)
              %tr{:style=>"background-color:rgb(255, 165, 27);"}
                %td Visiting Reports
                - if vh.visited_entity.present?
                  - resource_unique_identity_no = vh.visited_entity_type == 'resource' && vh.visited_entity.unique_identity_no.present? ? "(#{vh.visited_entity.unique_identity_no})" : ""
                  - resource_name = vh.visited_entity.name
                %td= "#{resource_name} #{resource_unique_identity_no}"
                %td= vh.customer.present? ? "#{vh.customer.addresses.first.delivery_address}" : vh.visited_entity.address
                %td= vh.customer.present? ? "#{vh.customer.customer_profile.firstname} #{vh.customer.customer_profile.lastname}" : '_'
                - if vh.customer.present?
                  - if vh.customer.customer_state.present?
                    %td= vh.customer.customer_state.name
                  - else
                    %td= '-'  
                - else
                  %td= '-'      
                %td= vh.visiting_remarks
                %td= vh.visting_reason
                %td= vh.day
                
                %td= vh.in_time.present? ? vh.in_time.strftime("%I:%M %p") : '-'
                %td= vh.out_time.present? ? vh.out_time.strftime("%I:%M %p") : '-'
                /%td= vh.device_id
                %td{:style => "padding-right: 0px !important;"}
                  = '-'
                %td= vh.recorded_at.strftime("%d-%m-%Y, %I:%M %p")
                %td= vh.created_at.strftime("%d-%m-%Y, %I:%M %p")  
                %td
                  %img{:src => "/google-maps.png", :class => "map-view", :width => "40px", "data-latlon"=>"#{_map_data_individual_arr.to_json}", "data-clat"=>"#{object.profile.latitude}", "data-clon"=>"#{object.profile.longitude}", "data-cname"=>"#{object.profile.full_name}", "data-cphone"=>"#{object.profile.contact_no}"} 
                
          - if work_statuses.present?
            - work_statuses.each do |ws|
              %tr{:style=>"background-color:rgb(255, 132, 52);"}
                %td Exception Status
                %td= '-'
                %td= '-'
                %td= '_'
                %td= ws.remarks
                %td= '_'
                %td= ws.recorded_at.strftime("%A")
                %td= '_'
                %td= '_'    
                /%td= ws.device_id
                %td{:style => "padding-right: 0px !important;"}
                  = ws.work_status  
                %td= ws.recorded_at.strftime("%d-%m-%Y, %I:%M %p")
                %td= ws.created_at.strftime("%d-%m-%Y, %I:%M %p") 
  = smart_listing.paginate
  = smart_listing.pagination_per_page_links
  %br             
- else
  .alert.alert-warning
    %td
      No record found
  