- links_arr = [{:title=>"TsE Report",:url=>tsp_reports_path,:active_class=>""},{:title=>"Shop Commission Report",:url=>"#",:active_class=>"col-breadcrumb-selected"}] 
- render_page_breadcrumbs(links_arr)  #ApplicationHelper  
= render "layouts/flash"

.main-section__content
  .example
    .example__content.p0.min-height-405
      .data-table-container
        %header.data-table-header
          .data-table-header__label
            %span.fs-title="Shop Commission between #{params[:from_date]} to #{params[:to_date]}" 
          .data-table-header__actions
            .form-group
              = smart_listing_controls_for(:shop_commission_list, {class: "form-inline float-l margin-l-30"}) do
                = hidden_field_tag :from_date, "#{params[:from_date]}"
                = hidden_field_tag :to_date, "#{params[:to_date]}"
                .form-group.filter.input-append
                  .input-group
                    %input.form-control.search.search-resource{:placeholder => "Search Resource...", :type => "text", :name=> "resource_filter"}
                      %span.input-group-btn
                        %button.btn.btn-default.disabled{:type => "submit" }
                          %span.glyphicon.glyphicon-search 
        = smart_listing_render :shop_commission_list