%h1 Listing sizes

%table
  %tr
    %th Name
    %th Code
    %th
    %th
    %th

  - @sizes.each do |size|
    %tr
      %td= size.name
      %td= size.code
      %td= link_to 'Show', size
      %td= link_to 'Edit', edit_size_path(size)
      %td= link_to 'Destroy', size, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Size', new_size_path
