:javascript
  $(function() {
    $('#from_date').datetimepicker({
      format: 'YYYY/MM/DD',
    });
    $('#to_date').datetimepicker({
      format: 'YYYY/MM/DD',
    });

  $('.show_pop').popover('hide');
  });
- unless smart_listing.empty?
  .main-section__content
    .example
      .example__content.p0
        .data-table-container
          %header.data-table-header
            .data-table-header__label
              %span.fs-title Listing Orders 
          %table.data-table#accordion
            %thead
              %tr.data-table__selectable-row    
                %th
                  = "Select"            
                %th
                  = smart_listing.sortable "Order ID", "id"
                %th
                  = smart_listing.sortable "Order Source", "source"
                %th
                  = smart_listing.sortable "Delivery Time", "delivary_date"
                %th
                  = "Order Status"
                %th
                  = "Order Address"
            %tbody.panel
              - smart_listing.collection.each do |order_to_delivery_boy|
                %tr.data-table__selectable-row{:id => "#{order_to_delivery_boy.id}"}
                  %td
                    %input{"aria-label" => "...", "data-delivarydate" => order_to_delivery_boy.delivary_date, :name => "order_ids[]", :type => "checkbox", :value => order_to_delivery_boy.id, :id=>"order_id_#{order_to_delivery_boy.id}"}
                    %label{:for=>"order_id_#{order_to_delivery_boy.id}"}
                  %td= order_to_delivery_boy.id
                  %td= order_to_delivery_boy.source
                  %td= order_to_delivery_boy.delivary_date
                  %td= order_to_delivery_boy.order_status.name
                  %td= order_to_delivery_boy.deliverable.delivery_address
                  
                %tr.collapse.data-table__selectable-row.data-table__selectable-row--is-selected{"aria-labelledby" => "heading#{order_to_delivery_boy.id}", :role => "tabpanel", :id => "order_collapse_#{order_to_delivery_boy.id}"}
                  %td.p0{:colspan=>8,:id=>"order_quickinfo_#{order_to_delivery_boy.id}"}
                    Loading please wait...

          = smart_listing.paginate
          = smart_listing.pagination_per_page_links
          %br
- else
  .alert.alert-warning
    No orders found
