= form_for @tax_group, remote: true do |f|
  - if @tax_group.errors.any?
    #error_explanation.alert.alert-danger2.alert-dismissible
      %button.close{"data-dismiss" => "alert", :type => "button"}
        %span{"aria-hidden" => "true"} &times;
      = "#{pluralize(@tax_group.errors.count, "error")} prohibited this vendor from being saved."
  .input-field
    = f.text_field :name, :placeholder=>"Enter tax group name",:required=>true, :class => 'form-control validate'
  .input-field
    = f.select :section_id, option_groups_from_collection_for_select(@units, :sections, :unit_name, :id, :name, @tax_group.section_id), { include_blank: "Select section"},{:class => "browser-default",:required => true}   
  .input-field
    - for tax_class in TaxClass.all
      %p
        = check_box_tag "tax_group[tax_class_ids][]",tax_class.id,@tax_group.tax_classes.include?(tax_class), { :id => "tax_class_#{tax_class.id}"}
        %label{:for=>"tax_class_#{tax_class.id}"}= tax_class.name.humanize + "(#{tax_class.ammount})" 
  .input-field
    %button.btn.p0-10.green.green-text.text-lighten-5.waves-effect.waves-light{:type=>"submit"}
      Save
    %button.btn-flat.close-taxgroup-form
      Cancel



