- manual_load_javascript "jquery.geocomplete","templates/vendors/get_selected_unittype"
%script{:src => "http://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBq5JlSzFQkPFTx5kT7w-d2gRzwZzeO8Y8"}
:javascript
  $( document ).ready(function() {
    $("#vendor_address").geocomplete()
  });

- if @vendor.id.nil?  
  - url = create_vendor_vendors_path
- else
  - url = update_vendor_vendor_path(@vendor)
= form_for @vendor, :html => { :class => '' }, url: url do |f|
  - if @vendor.errors.any?
    #error_explanation.alert.alert-danger2.alert-dismissible
      %button.close{"data-dismiss" => "alert", :type => "button"}
        %span{"aria-hidden" => "true"} &times;
      %ul
        %li= "#{pluralize(@vendor.errors.count, "error")} prohibited this vendor from being saved."
        %li= @vendor.errors.full_messages.to_sentence
  .padding-10 
    .form-group
      /= f.hidden_field :unit_id, :class => 'form-control', :value => current_user.unit_id
    .form-group
      = f.text_field :name, :placeholder=>"Enter Name",:required=>true, :class => 'form-control validate'
    .form-group
      = f.number_field :phone, :placeholder=>"Enter valid Phone No",:required=>true, :class => 'form-control validate'
    .form-group
      = f.email_field :email, :placeholder=>"Enter valid Email ID",:required=>true, :class => 'form-control validate' 
    .form-group
      = f.text_field :pan_no, :placeholder=>"Enter Pan No",:required=>true, :class => 'form-control validate'  
    .form-group
      = f.text_area :address,:placeholder=>"Enter Address",:required=>true, :class => 'validate materialize-textarea'   
    .form-group
      = f.number_field :address_phone_no, :placeholder=>"Enter Address Phone No",:required=>true, :class => 'form-control validate'    
    .form-group
      = f.text_field :gst_hash, :placeholder=>"Enter Vendor Gst No",:required=>true, :class => 'form-control validate'
    .form-group
      - if @current_user_unittypes.id.to_i == 1
        = select_tag "unittype_id", options_for_select(Unittype.all.map{ |a| [a.unit_type_name, a.id] }), prompt: "Select unit type", class: "form-control", "data-unit-id" => @current_user_unit.id, "data-unit-type-id" => @current_user_unittypes.id,:required => true
      - elsif @current_user_unittypes.id.to_i == 2
        = select_tag "unittype_id", options_for_select(Unittype.where("id >= ?",2).map{ |a| [a.unit_type_name, a.id] }), prompt: "Select unit type", class: "form-control", "data-unit-id" => @current_user_unit.id, "data-unit-type-id" => @current_user_unittypes.id,:required => true
      - elsif @current_user_unittypes.id.to_i == 3
        = f.hidden_field :unit_id, :class => 'form-control', :required=> true, :value => current_user.unit_id
        .form-control
          = current_user.unit.unit_name
    .form-group
      / = f.select :unit_id, '', { include_blank: "Select Branch"}, {:class => "form-control",:id=>"unit_select",:required => true}
      - if @current_user_unittypes.id.to_i < 3
        = f.select :unit_id, option_groups_from_collection_for_select(Unittype.all, :units, :unit_type_name, :id, :unit_name, @vendor.unit_id),{ include_blank: "Select Branch"},  {:class => "form-control",:required => true, :id=>"unit_select"}
    .form-group
      = f.select :vendor_type, options_for_select(Vendor::VENDOR_TYPE.map{ |vt| [vt.humanize, vt] }, @vendor.vendor_type), { include_blank: "Select vendor type"}, {:class => "form-control"}
    .form-group
      %button.btn.p0-10.green.green-text.text-lighten-5.waves-effect.waves-light{:type=>"submit"}
        Save
      %button.btn-flat.close-vendor-form
        Cancel