- @stock_production.stock_production_metas.each do |object|
  - stock = Stock.find_by_transaction_type_and_transaction_id_and_product_id("StockProduction",object.stock_production_id,object.product_id)
  %tr.data-table__selectable-row.data-table__selectable-row--is-selected
    - _product = Product.find(stock.product_id)
    - _product_name = _product.package_component.present? ?  _product.product_name(_product) : stock.product.name    
    - _barcode_product_name = _product.package_component.present? ?  _product.package_component.name : stock.product.name     
    %td.padding-r-5.col-lg-2= "#{_product_name}"
    %td.padding-r-5.col-lg-1= stock.stock_credit.present? ? "#{stock.stock_credit} #{stock.product.basic_unit}" : '-'
    - if AppConfiguration.get_config_value('barcode_on_catalog_product') == 'enabled'
      %td.padding-r-5.col-lg-1= stock.sku.present? ? "#{stock.sku}" : '-'
      %td.padding-r-5.col-lg-1= stock.model_number.present? ? "#{stock.model_number}" : '-'
      %td.padding-r-5= stock["size"].present? ? "#{stock['size']}" : '-'
      %td.padding-r-5= stock.color_name.present? ? "#{stock.color_name}" : '-'
      %td.padding-r-5= stock.batch_no.present? ? "#{stock.batch_no}" : '-'
    - if AppConfiguration.get_config_value('retail_menu') == 'enabled'
      %td.padding-r-5= stock.stock_price.mrp.present? ? "#{stock.stock_price.mrp}" : '-'
    - if AppConfiguration.get_config_value('barcode_on_catalog_product') == 'enabled'
      %td.padding-r-5= stock.mfg_date.present? ? stock.mfg_date.strftime("%d-%m-%Y") : ""  
      - if AppConfiguration.get_config_value('stock_expiry_date') == 'enabled'  
        %td.padding-r-5= stock.expiry_date.present? ? stock.expiry_date.strftime("%d-%m-%Y") : ""  
      %td.padding-5
        - _mfg_date = stock.mfg_date.present? ? stock.mfg_date.strftime("%d-%m-%Y") : '-'
        - _batch_no = stock.batch_no.present? ? stock.batch_no : '-'
        - exp_date = stock.expiry_date.present? ? stock.expiry_date.strftime("%d-%m-%Y") : "-"
        - _model_number = stock.model_number.present? ? stock.model_number : '-'
        - _qty = stock.stock_credit.present? ? "#{stock.stock_credit} #{stock.product.basic_unit}" : '-'
        = button_tag(:print, class: "waves-effect waves-light btn print-barcodde", type: "button", data: { toggle: "true", target: "#print_modal", sku: stock.sku, name: stock.product.category.name, mrp:stock.stock_price.mrp, mc: "0", wt: "0", wastage: "0", site: @site_title, count: stock.stock_credit, 'model-number'=> _model_number, size: stock.size_name, 'color-name'=> stock.color_name, 'created-at'=>stock.created_at.strftime("%d-%m-%Y"),'mfg-date'=> _mfg_date, 'itemname'=>_barcode_product_name,"batch-no" => _batch_no, 'exp-date'=> exp_date, 'quantity'=> _qty })  
/ mrp:stock.stock_price.mrp


#print_modal.modal.fade{:role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        - if AppConfiguration.get_config_value('qr_code') == 'enabled' 
          %h4.modal-title Print Qr Code
        - else  
          %h4.modal-title Print Bar Code
      .modal-body
        #radio_by_catalog.float-l
        .float-l.margin-l-15.margin-r-10.margin-t-5 Enter count of printing : 
        .form-group.filter.input-append
          .input-group
            %input.form-control.allow-numeric-only#print_count{:placeholder => "Enter count of printing...", :type => "text", :style=>"width:200px;"}
        .panel.panel-default
          .panel-body
            .col-md-6.center
              %h5
                /.bar-mrp
                = @site_title
              - if AppConfiguration.get_config_value('qr_code') == 'enabled' 
                %img{:src => "/assets/qr_code.png", :width=>"100%"}
              - else 
                %img{:src => "/assets/bar_code.jpg", :width=>"100%"}
              %br
              .bar-sku
            .col-md-6.center
              %h5
                = @site_title
              /.bar-mrp
              - if AppConfiguration.get_config_value('qr_code') == 'enabled' 
                %img{:src => "/assets/qr_code.png", :width=>"100%"}
              - else 
                %img{:src => "/assets/bar_code.jpg", :width=>"100%"}
              %br
              .bar-sku        
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        %button.btn.btn-primary{:type => "button", :class => "print-barcode"} Print