- manual_load_javascript "categories"
:javascript
  $(function(){
      $(".view").tooltip({
          placement: "top",
          title: "View this menu category"
      });
  });
#cat_show
%p
  .col-lg-12
    .col-lg-4.font-w-400
      / %span{:class=> "plus", :id=> "", "data-toggle" => "tooltip", "data-target" => "#creat_menu_cat_modal", "data-toggle" => "modal"}
      /   %i.icon-plus
      /   %span.btn.btn-mini.btn-warning.margin-b-5
      /     Create Root Category
      Category Name
    .col-lg-2.font-w-400
      Increase By Sale Price(%)
    .col-lg-2.font-w-400
      Decrease By Sale Price(%)
    .col-lg-2.font-w-400
      Decrease By MRP(%)
    .col-lg-2.font-w-400

.col-lg-12
  - @categories.each do |category|
    %ul
      - if category.parent.blank?
        %li.col-lg-4.margin-b-5.menu_categories_action_list{:id => "#{category.id}"}
          = link_to category.name, menu_category_path(category), :class => 'btn btn-primary btn-mini active view', "data-toggle" => "tooltip"
        .form-group.col-lg-2
          = text_field_tag 'increase_by_sp', '', class: "form-control allow-numeric-only increase_by_sp increase_by_sp_#{category.id}", placeholder: "Increase By", 'data-menu-category-id' => category.id
        .form-group.col-lg-2
          = text_field_tag 'decrease_by_sp', '', class: "form-control allow-numeric-only decrease_by_sp decrease_by_sp_#{category.id}", placeholder: "Decrease By", 'data-menu-category-id' => category.id
        .form-group.col-lg-2
          = text_field_tag 'decrease_by_mrp', '', class: "form-control allow-numeric-only decrease_by_mrp decrease_by_mrp_#{category.id}", placeholder: "Decrease By", 'data-menu-category-id' => category.id
        .col-lg-2
          = button_tag "Save", :class => 'btn btn-success category_sale_price_btn', :type => 'button', 'data-menu-category-id' => category.id
        
        - if @category_type == 'all_category'
          = render partial: '/menu_cards/subcategory_li', locals: {submenucategories: category.submenucategories} if category.submenucategories.present?