= form_for @menu_card, remote: true do |f|
  - if @menu_card.errors.any?
    .alert.alert-danger{:role => "alert"}
      #error_explanation
        %h2= "#{pluralize(@menu_card.errors.count, "error")} prohibited this menu_card from being saved:"
        %ul
          - @menu_card.errors.full_messages.each do |msg|
            %li= msg

  .col-sm-12
    .main-section__content
      .example
        .example__content.p0.min-height-300
          .data-table-container{"aria-multiselectable" => "true", :role => "tablist"}
            %header.data-table-header
              .data-table-header__label
                %span.fs-title Create New Catalog
            .form-horizontal.bordered-row.m-input  
              .col-sm-8
                .form-group
                  / = f.label :unit_id, :class=> "col-sm-2 control-label"
                  .col-sm-6
                    = f.text_field :unit_id, :class=> "form-control", :value => @current_user_info.unit_id, :type => "hidden"
                .form-group
                  = f.label "Name", :class=> "col-sm-2 control-label", :placeholder=>"Enter Name"
                  .col-sm-6
                    = f.text_field :name, :class=>"form-control"
                .form-group
                  = f.label "Select section", :class=>"col-sm-2 control-label"
                  .col-sm-6
                    = f.select :section_id, options_for_select(@sections.map{ |sec| [sec.name, sec.id]}, @menu_card.section_id),{include_blank: "Select section"}, {:class => "form-control",:required => true}
                .form-group
                  = f.label "Scope", :class=>"col-sm-2 control-label"
                  .col-sm-6
                    = f.select :scope, options_for_select({"inhouse" => "inhouse", "hungryleopard" => "hungryleopard"}, @menu_card.scope), { :include_blank=>false }, {:class => "form-control",:required => true}
                .form-group
                  = f.label "Menu type", :class=>"col-sm-2 control-label"
                  .col-sm-6
                    = f.select :menu_type, options_for_select({"Retail" => "retail", "Resturant" => "resturant"}, @menu_card.menu_type), {prompt: "Select menu type"}, {:class => "form-control",:required => true}
                .form-group
                  = f.label "Menu classification", :class=>"col-sm-2 control-label"
                  .col-sm-6
                    = f.select :menu_classification, options_for_select({"Default" => "default", "Special" => "special", "Offer" => "offer"}, @menu_card.menu_classification), {}, {:class => "form-control",:required => true}
                .form-group
                  / = f.label "Valid from"
                  .col-sm-6
                    = f.text_field :valid_from, :class => "form-control", :value => "#{Date.today}", :type => "hidden"
                .form-group
                  / = f.label "Valid till"
                  .col-sm-6
                    = f.text_field :valid_till, :class => "form-control", :value => "#{Date.today}", :type => "hidden"
                .form-group
                  = f.label "Mode", :class=>"col-sm-2 control-label"
                  .col-sm-6
                    = f.select :mode, options_for_select({"Active" => "1", "Inactive" => "0"}, @menu_card.mode), { :include_blank=>false }, {:class => "form-control",:required => true}
                .form-group
                  = f.label "Priority", :class=>"col-sm-2 control-label"
                  .col-sm-6
                    = f.select :priority, options_for_select({"1" => "1", "2" => "2", "3" => "3", "4" => "4", "5" => "5", "6" => "6"}, @menu_card.priority), { :include_blank=> "Select priority" }, {:class => "form-control"}
                .form-group 
                  = f.label "Position", :class=>"col-sm-2 control-label"
                  .col-sm-6
                    = f.select :position, options_for_select({"Horizontal" => "Horizontal", "Vertical" => "Vertical"}, @menu_card.position), { :include_blank=> "Select position" }, {:class => "form-control"}  
                .form-group
                  = f.label "Image", :class=>"col-sm-2 control-label"
                  .col-sm-6
                    = f.file_field :image, placeholder: "Upload Image"
                .form-group
                  = f.label "Operation type", :class=>"col-sm-2 control-label"
                  .col-sm-6
                    = f.select :operation_type, options_for_select({"B2B"=>"b2b",  "B2C"=>"b2c"}, @menu_card.operation_type), {:include_blank=>"Select operation type"}, {:class=>"form-control"}
                .form-group
                  = f.label "Sort Items By", :class=>"col-sm-2 control-label"
                  .col-sm-6
                    = f.select :sort_items_by, options_for_select({"Sale Price Without Tax"=>"sell_price_without_tax"}, @menu_card.sort_items_by), {:include_blank=>"None"}, {:class=>"form-control"}
                - if @menu_card.sort_items_by.present?
                  #sort_dtls.form-group{:style => "display: block;"}
                    .col-sm-2
                    .col-sm-6
                      = f.radio_button(:sort_order, "ASC",:id=>"sort_order_ascending", :checked => @menu_card.sort_order == "ASC")
                      %label{:for=> "sort_order_ascending"}= "Ascending"
                      = f.radio_button(:sort_order, "DESC",:id=>"sort_order_descending", :checked => @menu_card.sort_order == "DESC")
                      %label{:for=> "sort_order_descending"}= "Descending"
                - else
                  #sort_dtls.form-group{:style => "display: none;"}
                    .col-sm-2
                    .col-sm-6
                      = f.radio_button(:sort_order, "ASC",:id=>"sort_order_ascending", :checked => @menu_card.sort_order == "ASC")
                      %label{:for=> "sort_order_ascending"}= "Ascending"
                      = f.radio_button(:sort_order, "DESC",:id=>"sort_order_descending", :checked => @menu_card.sort_order == "DESC")
                      %label{:for=> "sort_order_descending"}= "Descending"

                .form-group
                  .col-sm-3
                  %button.btn.p0-10.green.green-text.text-lighten-5.waves-effect.waves-light{:type=>"submit"}
                    Save  
                  %button.btn-flat.close-catalog-form
                    Cancel


  