= form_for @outlet_type do |f|
  - if @outlet_type.errors.any?
    #error_explanation
      %h2= "#{pluralize(@outlet_type.errors.count, "error")} prohibited this outlet_type from being saved:"
      %ul
        - @outlet_type.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
