- links_arr = [{:title=>"Sales Report",:url=>sale_reports_path,:active_class=>""},{:title=>"Sales Report By Category",:url=>"#",:active_class=>"col-breadcrumb-selected"}] 
- render_page_breadcrumbs(links_arr)  #ApplicationHelper  
= render "layouts/flash"
//= debug @category_sales
//= debug @sub_sale
.main-section__content
  .example
    .example__content.p0.min-height-405
      .data-table-container
        %header.data-table-header
          .data-table-header__label
            %span.fs-title=" Sales between #{params[:from_date]} to #{params[:to_date]}" 
          .data-table-header__actions
            .form-group.col-lg-5.cat_list
              = select_tag "category", options_from_collection_for_select(@categories, "id", "name"),class: "form-control category-list", prompt: 'Select Category'          
            %a.m-btn.red.margin-l-5{:href=>"/sale_reports/category_wise.pdf?from_date=#{params[:from_date]}&to_date=#{params[:to_date]}&menu_card=#{params[:menu_card]}&category_id=#{params[:category_id]}&unit_id=#{@unit_id}"}
              %i.mdi-file-file-download.left
              PDF            
            %a.m-btn.indigo.margin-l-5{:href=>"/sale_reports/category_wise.csv?from_date=#{params[:from_date]}&to_date=#{params[:to_date]}&menu_card=#{params[:menu_card]}&category_id=#{params[:category_id]}&unit_id=#{@unit_id}"}
              %i.mdi-file-file-download.left
              CSV
      - if @category_sales.present?        
        %table.data-table
          %thead
            %tr
              %th Main Cetegory
              %th Sub Cetegory
              %th Product
              %th SKU
              %th Quantity
              /%th Price 
              %th Sale(Without Tax)
              %th Tax
          %tbody
            - _total_sale = 0
            - _sell_price_without_tax = 0
            - _quantity = 0
            - @category_sales.each do |main_cat,data|
              %tr
                %td= main_cat
                %td
                %td
                %td
                %td
                /%td
                %td= data['sale'].to_f.round(2)
                %td= data['tax'].to_f.round(2)
              - data["children"].each do |sub_cat_data|
                %tr
                  %td
                  %td= sub_cat_data.keys.first
                  %td
                  %td
                  %td
                  /%td
                  %td= sub_cat_data[sub_cat_data.keys.first]["sale"].to_f.round(2)
                  %td= sub_cat_data[sub_cat_data.keys.first]["tax"].to_f.round(2)
                - sub_cat_data[sub_cat_data.keys.first]["products"].each do |product|
                  - _total_sale = _total_sale + product.total_sale.to_i 
                  - _sell_price_without_tax = _sell_price_without_tax + product.menu_product.sell_price_without_tax.to_i
                  - _quantity =  _quantity + product.quantity
                  %tr
                    %td
                    %td
                    %td= product.menu_product.product.name
                    %td= product.product_unique_identity
                    %td= product.quantity
                    /%td= product.menu_product.sell_price_without_tax
                    %td= product.total_sale.to_f.round(2) 
                    %td= product.pro_tax.to_f.round(2) 
      - else
        .alert.alert-warning
          No record found             
  - if @category_sales.present?                  
    .example
      .example__content.p0
        .data-table-container#accordion{"aria-multiselectable" => "true", :role => "tablist"}
          %header.data-table-header
            .data-table-header__label
              %span.fs-title Summery Of Report
            .data-table-header__actions    
          %table.data-table
            %thead
              %tr
                %th Total Quantity
                %th Total Sale(Without Tax)
            %tbody
              %tr
                %td=_quantity
                %td=_total_sale.round(2)
                
                                  

            
                

          

