= form_for @resource_state, :class => 'form-control' do |f|
  - if @resource_state.errors.any?
    #error_explanation
      %h2= "#{pluralize(@resource_state.errors.count, "error")} prohibited this resource_state from being saved:"
      %ul
        - @resource_state.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name,:class => 'col-sm-3 control-label'
  .form-group
    .col-sm-6  
      = f.text_field :name,:class => 'form-control'
  %br
  %br
  .form-group
    = f.label "Select color",:class => 'col-sm-3 control-label'
  .form-group
    .col-sm-6  
      = f.text_field :color_code, :type => "color"
  %br
  %br      
  .form-group
    = f.label :state_priority,:class => 'col-sm-3 control-label'
  .form-group
    .col-sm-6  
      = f.number_field :state_priority,:class => 'form-control'      
  %br
  %br
  .control-group
    .col-sm-offset-3.col-sm-10
      = f.submit 'Save', :class => 'btn btn-success btn-lg'
      %a{:href => resource_states_path, :class => 'btn btn-primary btn-lg'}
        %i.icon-backward
        Cancel   





    /   .form-group
    / .col-sm-offset-2.col-sm-10
    /   = f.submit 'Save', :class => 'btn btn-success btn-lg'   
    /   %a{:href => sorts_path, :class => 'btn btn-primary btn-lg'}
    /     %i.icon-backward
    /     Cancel
