<% if @unit.new_record? %>
  $("#form_explanation").html("<div class='alert alert-dismissable alert-danger'><h5><%= j pluralize(@unit.errors.count, 'error') %> prohibited this form being saved.</h5><%= j @unit.errors.full_messages.join(', ') %></div>")
<% else %>
  $("#form_explanation").html("<div class='alert alert-dismissable alert-success'><%= j @unit.unit_name %> <%= j @unit.unittype.unit_type_name %> has been successfully created.</div>")
  $(".nested-content-of-unit-<%=@unit.unit_parent%>").removeClass('invisible')
  $(".nested-content-of-unit-<%=@unit.unit_parent%>").addClass('visible')
  $(".nested-content-of-unit-<%=@unit.unit_parent%>").append("<%= j render(:partial => 'units/nested_unit', :object => @unit, :as => 'unit') %>")
  $("#created_unit_list").prepend("<%= j render(:partial => 'units/unit', :object => @unit, :as => 'unit') %>")
<% @unit = Unit.new %>
  $("#new_unit_form").html("<%= j render('form') %>")

<% end %>
