%h1 Listing own_customer_addresses

%table
  %tr
    %th Contact no
    %th Pincode
    %th Landmark
    %th City
    %th State
    %th Latitude
    %th Longitude
    %th
    %th
    %th

  - @own_customer_addresses.each do |own_customer_address|
    %tr
      %td= own_customer_address.contact_no
      %td= own_customer_address.pincode
      %td= own_customer_address.landmark
      %td= own_customer_address.city
      %td= own_customer_address.state
      %td= own_customer_address.latitude
      %td= own_customer_address.longitude
      %td= link_to 'Show', own_customer_address
      %td= link_to 'Edit', edit_own_customer_address_path(own_customer_address)
      %td= link_to 'Destroy', own_customer_address, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Own customer address', new_own_customer_address_path
