.row.m0
  .col.l8.s12
    %h4.black-text.mb20
      = image_tag("logo_insites.png", :height => "30px")
    .p20-50
      %h4.font-weight-200 Create Taxes in your business?
      .min-height-300
        %p.grey-text.font-12.font-weight-300
          / We have created few user role of your organization based on the mode of business you selected on earlier step. You can drag them to rearrange their position based on hierarchy.
        .row.mt20
          .col.l6.s12
            .card
              .card-content
                = link_to "Add tax class ...", new_tax_class_path, :id=>"new_tax_class_link", remote: true
            .card
              .card-content
                .row.m0
                  %table.bordered.highlight.responsive-table#taxclasstable
                    %thead
                      %tr
                        %th Name
                        %th Type
                        %th Ammount
                    %tbody#taxclass
                      = render :partial => "tax_classes/tax_class", :collection => @tax_class, :as => "tax_class"
          .col.l6.s12
            .card
              .card-content
                = link_to "Add tax group ...", new_tax_group_path, :id=>"new_tax_group_link", remote: true
            .card
              .card-content
                .row.m0
                  %table.bordered.highlight.responsive-table#taxgrouptable
                    %thead
                      %tr
                        %th Name
                        %th Section
                    %tbody#taxgroup
                      = render :partial => "tax_groups/tax_group", :collection => @tax_group, :as => "tax_group"

      .center.mt30
        %a.btn-large.blue.waves-effect.waves-light{:href=>previous_wizard_path}
          Previous
          %i.left.material-icons keyboard_arrow_left
        %a.btn-large.blue.waves-effect.waves-light{:href=>next_wizard_path}
          Next
          %i.right.material-icons keyboard_arrow_right
  .col.l4.s12.amber.lighten-1.right-sidebar
    %h5.white-text.lighten-5

#tax_class_edit_modal.modal.modal-fixed-footer
  .modal-content
    %h6.font-weight-300 Edit
    .row
      .col.l9
        #tax_class_edit_container
      .col.l3
        %h6.grey-text.font-weight-700 Actions
        #tax_class_action_container

  .modal-footer
    %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{:href => "#!"} Close

#tax_group_edit_modal.modal.modal-fixed-footer
  .modal-content
    %h6.font-weight-300 Edit
    .row
      .col.l9
        #tax_group_edit_container
      .col.l3
        %h6.grey-text.font-weight-700 Actions
        #tax_group_action_container

  .modal-footer
    %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{:href => "#!"} Close
