:javascript
  $(function(){
      $(".root").tooltip({
          placement: "right",
          title: "Make it root category"
      });
  });
= form_for @category, :html => { :class => 'form-horizontal' } do |f|
  - if @category.errors.any?
    .alert.alert-danger{:role => "alert"}
      #error_explanation
        %h2= "#{pluralize(@category.errors.count, "error")} prohibited this category from being saved:"
        %ul
          - @category.errors.full_messages.each do |msg|
            %li= msg
  .col-sm-6
    .form-group
      = f.label :name, :class => 'col-sm-2 control-label'
      .col-sm-5
        = f.text_field :name, :class => 'form-control'
    .form-group
      = f.label :code, :class => 'col-sm-2 control-label'
      .col-sm-5
        = f.text_field :code, :class => 'form-control'
    .form-group
      = f.label :description, :class => 'col-sm-2 control-label'
      .col-sm-5
        = f.text_field :description, :class => 'form-control'
  .col-sm-6
    .panel.panel-default
      .panel-heading
        %i.fa.fa-bar-chart-o.fa-fw
        Product categories
      / /.panel-heading
      .panel-body
        .row
          .input-group.col-sm-5
            %span.input-group-addon
              %input{:type => "radio", :value => "", :name => "category[parent]", :checked => (@category.parent == "")}
            %input.form-control{:type => "text", :value => "Parent", :readonly => true}
          
            %i.icon-cog.root
          - @categories.each do |category|
            %ul
              - if category.parent.blank?
                %li
                  .input-group.col-sm-5
                    %span.input-group-addon
                      %input{:type => "radio", :name => "category[parent]", :value => "#{category.id}~#{category.name}", :checked => (category.id == @category.parent)}
                    %input.form-control{:type => "text", :value => category.name, :readonly => true}
                  
                  = render partial: 'subcategory_li_edit', locals: {subcategories: category.subcategories} if category.subcategories.present?
        / /.row
      / /.panel-body
    / /.panel   
  .form-group
    .col-sm-5
      = f.submit 'Save', :class => 'btn btn-success'