/ = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"
/ = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css"

= javascript_include_tag "https://cdn.rawgit.com/digitalBush/jquery.maskedinput/1.4.1/dist/jquery.maskedinput.min.js"
= javascript_include_tag "https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"
= javascript_include_tag "month-picker"
= stylesheet_link_tag "https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"
= stylesheet_link_tag "month-picker"

:css
  #MonthPicker_Button_target_month{
    float: right;
    margin-top: -34px;
    width: 42px;
    height: 34px;
    margin-right: 0px;
  }

:javascript
  $(function() {
    $('.date').datetimepicker({
      format: 'YYYY-MM-DD',
    });
    $('.Default').MonthPicker();
  });

-if @target_type == "by_amount"
  =render("by_amount_target_set_form") 
-else
  =render("by_product_target_set_form")
