.panel.panel-default
  .panel-heading
    Product types
    //%a{:href => "#{new_product_path}"}
    - if can? :new, PhysicalType  
      %button.btn.btn-primary.btn-xs.float-r{"data-target" => "#productTypeAddmodal", "data-toggle" => "modal"} 
        %i.fa.fa-plus-square
        Add new physical type
  .panel-body
    .row.col-sm-10
      %table.table.table-bordered
        %tr.well
          %th Type          
          %th Action
        - @physical_types.each do |physical_type|
          %tr
            %td= physical_type.name
            %td              
              - if can? :edit, PhysicalType
                %a.btn.btn-sm.btn-info.edit-product{"data-target" => "#productTypeEditmodal", "data-toggle" => "modal", :title => "Edit Physical Type", :id => "#{physical_type.id}"} 
                  %i.fa.fa-edit.fa-lg
              - if can? :destroy, PhysicalType
                %a.btn.btn-sm.btn-danger{:href => "#{physical_type_path(physical_type)}",:method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :title => "Delete Physical Type"}
                  %i.fa.fa-trash-o.fa-lg 
      .digg_pagination
        .page_info
          =# page_entries_info @physical_types_pagination
        = paginate @physical_types_pagination                       
  #productTypeAddmodal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        =form_for @physical_type,:html => { :class => 'form-horizontal' } do 
          .modal-header
            %button.close{"data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} &times;
              %span.sr-only Close
            %h4#myModalLabel.modal-title ADD NEW PHYSICAL TYPES
          .modal-body                   
            .form-group
              %label.col-sm-2.control-label{:for => "physical_type"} Type
              .col-sm-10
                %input.form-control{:name=>"physical_type[name]",:placeholder => "Type", :type => "text"}                                                
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
            %button.btn.btn-primary.add-to-cart{:type => "submit"} Save 
 
  
  #productTypeEditmodal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "productTypeEditmodalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        =form_tag(products_product_update_path, :method => 'post', multipart: true, :html => { :class => 'form-horizontal' }) do 
          .modal-header
            %button.close{"data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} &times;
              %span.sr-only Close
            %h4#productTypeEditmodalLabel.modal-title ADD
          .modal-body                                             
            .form-group
              %label.col-sm-2.control-label{:for => "physical_type"} Type
              .col-sm-10
                #reciveproductvalue                                                
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
            %button.btn.btn-primary.add-to-cart{:type => "submit"} Save              
            
