
= form_for @table_reservation do |f|
  - if @table_reservation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@table_reservation.errors.count, "error")} prohibited this table_reservation from being saved:"
      %ul
        - @table_reservation.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    .col-lg-5
      .col-lg-5
        = f.label :reservation_date
        %span{:style => "color:red"}
          (*) 
      .col-lg-12
        = f.text_field :reservation_date,class: "form-control",placeholder:"Select a Date",:required => true
      .col-lg-5
        = f.label :Time
        %span{:style => "color:red"}
          (*)
      .col-lg-12
        = f.text_field :from_time,class: "form-control",placeholder:"Select a Time",:required => true
        #msg
      .col-lg-5
        = f.label :PAX
        %span{:style => "color:red"}
          (*)
      .col-lg-12
        = f.number_field :head_count,class: "form-control",:required => true
      .col-lg-5 
        = f.label :Select_Section
        %span{:style => "color:red"}
          (*)
      .col-lg-12
        = f.collection_select(:section_id, @sections,:id,:name, {:prompt => 'Select'},{:class => 'form-control'})
        #info
      #information
        .col-lg-5
          = f.label :customer_name
          %span{:style => "color:red"}
          (*)
        .col-lg-12
          = f.text_field :customer_name,class: "form-control"
        .col-lg-5
          = f.label :contact_no
          %span{:style => "color:red"}
          (*)
        .col-lg-12
          = f.number_field :contact_no,class: "form-control"
        .col-lg-5
          = f.label :remarks
        .col-lg-12
          = f.text_field :remarks,class: "form-control" 
        .col-lg-12
          = f.submit 'Save',class:"btn btn-info btn-sm",id:"table_reservation_btn",style:"width:100%"
    = hidden_field_tag("unit_id", value = @unit_name.id)
            
    
  
  
  
    
