FILTER BY
= smart_listing_controls_for(:products, {class: "text-left"}) do
  .filter-title Product
  .form-group.filter.input-append
    = text_field_tag :filter, '', class: "search form-control", placeholder: "Search by product name...", autocomplete: :off
    / %button.btn.btn-primary.disabled{type: :submit}
    /   %span.glyphicon.glyphicon-search
  %br
  %br
  .filter-title Type
  - Product.select("DISTINCT(product_type)").each do |prodect|
    .checkbox
      %label.checkbox.inline
        = check_box_tag 'product_type[]', prodect.product_type
        = prodect.product_type.humanize
  .filter-title category
  .checkbox{:style => "max-height: 200px;overflow-y: scroll;"}
    = render 'listing_category'