- unless smart_listing.empty?
  %table.data-table
    %thead
      %tr.data-table__selectable-row
        %th
           
        %th= smart_listing.sortable "ID", "id"
        %th= smart_listing.sortable "Name", "name"
        %th.col-lg-3 Current Stock
    %tbody
      - smart_listing.collection.each do |object|
        %tr.data-table__selectable-row
          %td
            %input.checkbox-child.filled-in.simo-output{:value=> "#{object.id }",:name=>"selected_products[]",:type=>"checkbox", "data-product-id" => "#{object.id}",:id=>"product_#{object.id}", "data-product-name" => "#{object.name}", "data-product-unit" => "#{object.basic_unit}"}
            %label{:for=>"product_#{object.id}"}        
          %td=object.id
          %td=object.name
          %td.col-lg-3
            %span.label.label-default
              =number_with_precision(get_product_current_stock(@store.id, object.id), :precision => 8, :significant => true, :strip_insignificant_zeros => true)
              =object.basic_unit
  = smart_listing.paginate
  = smart_listing.pagination_per_page_links
- else
  .alert.alert-warning
    No products found