%h1 Listing reports

%table
  %tr
    %th Name
    %th Report folder
    %th
    %th
    %th

  - @reports.each do |report|
    %tr
      %td= report.name
      %td= report.report_folder
      %td= link_to 'Show', report
      %td= link_to 'Edit', edit_report_path(report)
      %td= link_to 'Destroy', report, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Report template', new_report_folder_report_path
